{
  "presets": [
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/syntax-dynamic-import",
    [
      "snowpack/assets/babel-plugin.js",
      {
        "dir": "static/web_modules"
      }
    ]
  ],
  "ignore": [
    "public",
    "static"
  ]
}
